<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
   {{>headerlinks}}
</head>
<body>
{{>navbar}}
  {{!-- main header --}}
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to the Weather App!</p>
            <h1>I am a  <span style="color:rgb(0, 106, 255);">Mern Stack Developer</span> and a Freelancer</h1>
          </div>
       <div class="col-md-6 col-12 main_header_right"> 
     <i class="fa-solid fa-user-pen userpensize"></i>

       </div>
        </div>
       </div>
    </div>
 </div>
 {{>footer}}
</body>
</html>
